@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #111827; /* theme.colors.background */
  color: #E5E7EB; /* theme.colors.text.DEFAULT */
  margin: 0;
}

.prose {
  max-width: none;
}


.prose h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.prose pre {
  background-color: #111827;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  overflow-x: auto;
}

.prose code {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
}