@tailwind base;
@tailwind components;
@tailwind utilities;

.prose {
  max-width: none;
}

.prose h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.prose pre {
  background-color: #111827;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  overflow-x: auto;
}

.prose code {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
}